# Safetynet bypass
# Inspired in magisk source code, by topjohnwu
# Ported to ramdisk by jhenrique09

on boot
    # selinux nodes, hide permissive state
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

service hack_attest /system/bin/hack_attest.sh
    class late_start
    user root
    group shell
    oneshot
    disabled

on property:sys.boot_completed=1
   start hack_attest
